<h3>Update a Scene</h3>
<%= form_with model: @scene do |form| %>
  <%= form.text_field :Title, placeholder: "Title" %>
  <%= form.text_field :Description, placeholder: "Description" %>
  <%= form.submit %>
<% end %>
