<div class="container">
  <div class="update-container">
    <h3>Update a Scene</h3>
    <h5>Please add a new title and/or description below</h5>
    <div class="form">
      <%= render 'form' %>
    </div>
  </div>
</div>
