
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h1>Avik's WWE Dioramas!!</h1>
      <div id="scenes">
        <ul>
        <% @scenes.each do |scene| %>
          <li> <h5><%= link_to scene.title, scene_path(scene)%></h5>
          <h6><%= scene.description %> </h6> </li>
        <% end %>
        </ul>
      </div>
      <button><%= link_to "Add a New Scene", new_scene_path %></button>

    </div>
  </div>
</div>
