<h3>Create a Scene</h3>
<%= form_with model: @scene do |form| %>
  <%= form.text_field :title, placeholder: "Title" %>
  <%= form.text_field :description, placeholder: "Description" %>
  <%= form.submit %>
<% end %>
