.card img {
  width: 150px;
}

.card h6 {
  opacity: .5;
}

.card {
  width: auto;
  height: 300px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin: 10px;
  .title { margin-top: 50%;}

  &:hover {
    cursor: pointer;
  }
}


.cards {
  display: grid;
  grid-template-columns: auto auto auto;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
