.navbar { padding-top: 0px;
  img { max-height: 50px; }
}
.navbar-brand { padding: 0px;}

.nav-link {
  color: #999999;
  border: 1px solid #999999;
  padding: 8px 50px;
  border-radius: 4px;
  font-weight: lighter;
  opacity: 1;
}

.nav-link:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #999999;
  transition: 0.3s ease;
}
